{% extends 'base.html'%}

{% block body %}

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

    <div class = "image_slide">
        <div class="slideshow-container">

        <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="/static/img/Test_image.jpg" style="width:100%">
        </div>

        <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="/static/img/Test_image.jpg" style="width:100%">
        </div>

        <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="/static/img/Test_image.jpg" style="width:100%">
        </div>

        </div>
        <br>
    </div>

    <input type="button" id = "modal_open" style="width:100px;">

    <div id ="modal">
        <div id = "modal_content">
            <input type="button" id = "modal_close" style="width:100px;" value="close">

            <form action = "/place">
                <input type="file" accept="image/*" capture="camera" required>
                <input type="submit">
            </form>
        </div>
        <div id="modal_layer"></div>
    </div> 

    <script>
        document.getElementById("modal_open").onclick = function() {
            document.getElementById("modal").style.display = "block";
        }
        document.getElementById("modal_close").onclick = function() {
            document.getElementById("modal").style.display = "none";
        }

        var slideIndex = 0;
        showSlides();

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            //var dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";  
            }
            slideIndex++;
            if (slideIndex > slides.length) {slideIndex = 1}    
            /*
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }*/
            slides[slideIndex-1].style.display = "block";  
            //dots[slideIndex-1].className += " active";
            setTimeout(showSlides, 2000); // Change image every 2 seconds
        }
    </script>

    

{% endblock %}
