{% extends 'base.html'%}
    
{% block body %}
    <style>
        #title{
            width: 100%;
            height: 100px;
            background-color: blue;
        }
        .gallery{
            width: 100%;
            height: calc(100vh - 120px);
            background-color: yellowgreen;
        }
    </style>

    <div class = "gallery">
        <input type="button" class = "img_btn" id = "img_btn" style = "width:100px">
    </div>

    <script>
        document.getElementById("img_btn").onclick = function() {
            location.href = "/detail";
        }
    </script>

{% endblock %}