
{% extends 'base.html'%}
    
{% block body %}
    {% load static %}
    <style>
        .img_form {
            display: none;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/place_list.css' %}" />
    <div class = "gallery">
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            <div class="mySlides fade">
                <div class="img_wrap">
                    <div class="img"><img src="{% static first.img_url %}" style="width:100%"></div>
                    <div class="numbertext">1 / 3</div>
                </div>
                <!-- <div class="text">Caption Text</div> -->
                <form action = "{% url 'FinalApp:place_detail' %}" class = "img_form" id ="first_form" method="POST">
                    {% csrf_token %}
                    <input type = "text" value = "{{first.name}}" name = "name">
                    <input type = "text" value = "{{first.address}}" name = "address">
                    <input type = "text" value = "{{first.long}}" name = "long">
                    <input type = "text" value = "{{first.lat}}" name = "lat">
                    <input type = "text" value = "{{first.img_url}}" name = "img_url">
                </form>
                <div class="place_info">
                    <div class="top">
                        <h3>{{first.name}}</h3>
                    </div>
                    <div class="middle">
                        <i class="fas fa-map-marker-alt" style="color:rgb(1, 138, 190, 0.8)"></i>
                        <h4>{{first.address}}</h4>
                    </div>
                    <div class="bottom">
                        <input type="button" id="img_btn" value="바로가기" onclick="first_img()">
                    </div>
                </div>
            </div>
        
            <div class="mySlides fade">
                <div class="img_wrap">
                    <div class="img"><img src="{% static second.img_url %}" style="width:100%"></div>
                    <div class="numbertext">2 / 3</div>
                </div>
                <!-- <div class="text">Caption Two</div> -->
                
                <form action = "{% url 'FinalApp:place_detail' %}" class = "img_form" id ="second_form" method="POST">
                    {% csrf_token %}
                    <input type = "text" value = "{{second.name}}" name = "name">
                    <input type = "text" value = "{{second.address}}" name = "address">
                    <input type = "text" value = "{{second.long}}" name = "long">
                    <input type = "text" value = "{{second.lat}}" name = "lat">
                    <input type = "text" value = "{{second.img_url}}" name = "img_url">
                </form>
                <div class="place_info">
                    <div class="top">
                        <h3>{{second.name}}</h3>
                    </div>
                    <div class="middle">
                        <i class="fas fa-map-marker-alt" style="color:rgb(1, 138, 190, 0.8)"></i>
                        <h4>{{second.address}}</h4>
                    </div>
                    <div class="bottom">
                        <input type="button" id="img_btn" value="바로가기" onclick="first_img()">
                    </div>
                </div>
            </div>
        
            <div class="mySlides fade">
                <div class="img_wrap">
                    <div class="img"><img src="{% static third.img_url %}" style="width:100%"></div>
                    <div class="numbertext">3 / 3</div>
                </div>
                <!-- <div class="text">Caption Three</div> -->

                <form action = "{% url 'FinalApp:place_detail' %}" class = "img_form" id ="third_form" method="POST">
                    {% csrf_token %}
                    <input type = "text" value = "{{third.name}}" name = "name">
                    <input type = "text" value = "{{third.address}}" name = "address">
                    <input type = "text" value = "{{third.long}}" name = "long">
                    <input type = "text" value = "{{third.lat}}" name = "lat">
                    <input type = "text" value = "{{third.img_url}}" name = "img_url">
                </form>
                <div class="place_info">
                    <div class="top">
                        <h3>{{third.name}}</h3>
                    </div>
                    <div class="middle">
                        <i class="fas fa-map-marker-alt" style="color:rgb(1, 138, 190, 0.8)"></i>
                        <h4>{{third.address}}</h4>
                    </div>
                    <div class="bottom">
                        <input type="button" id="img_btn" value="바로가기" onclick="first_img()">
                    </div>
                </div>
            </div>

             <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
    </div>
   
    <script type="text/javascript" src="{% static 'js/place_list.js' %}"></script>

{% endblock %}