{% extends 'base.html'%}
    
{% block body %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}" />

    <div class = "map">지이도오</div>
    <div class = "bottom">
        <ul>
            <li><button>test1</button></li>
            <li><button>test2</button></li>
            <li><button>test3</button></li>
            <li><button>test4</button></li>
            <li><button>test5</button></li>
        </ul>
    </div>
    <!-- <script>
        {% comment %} document.getElementById("route").onclick = function() {
            location.href = "/route";
        } {% endcomment %}
    </script> -->
{% endblock %}