@font-face {
  font-family: '감성주점L';
  src: url('../font/210 감성주점L.ttf');
}
@font-face {
  font-family: '감성주점B';
  src: url('../font/210 감성주점B.ttf');
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  font-size: 25px;    
  background: linear-gradient(-135deg, rgb(85, 165, 203), #D6EBEE) fixed;
  color: white;
}

#title #home{
  font-family: '감성주점L';
  margin: 15px;
  text-align: right;
}
#title .info{
font-family: 'Noto Sans KR', sans-serif;
font-size: 20px;
}
