@font-face {
    font-family: '국민체조L';
    src: url('../font/210 국민체조L.ttf');
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    height: 250px;
    font-size: 25px;
    background-color: #E16350;
    color: white;
}

#title p {
    font-family: '국민체조L';
    margin: 15px;
}
